{% extends "layout.html" %} 
{% block content %}

<head>
  <title>Artículo 1</title>
  <link rel="stylesheet" href="static/css/articulos.css" />
  <script
    type="text/javascript"
    src="/static/js/jquery-3.2.1.slim.min.js"
  ></script>
  <script type="text/javascript" src="/static/js/popper.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>

<body>
  <article>
    <h1><strong>Salud Mental</strong></h1>
    <h3>¿Qué es?</h3>
    <p>
      La salud mental incluye nuestro bienestar emocional, psicológico y social.
      Afecta la forma en que pensamos, sentimos y actuamos cuando enfrentamos la
      vida. También ayuda a determinar cómo manejamos el estrés, nos
      relacionamos con los demás y tomamos decisiones. La salud mental es
      importante en todas las etapas de la vida, desde la niñez y la
      adolescencia hasta la adultez y la vejez.
    </p>
    <div class="m1">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/18323f38-4ee8-48e4-9807-7fb283941ed3/dg4l5gs-cd920786-88dc-410a-a07b-ee3ddda83589.jpg/v1/fit/w_828,h_592,q_70,strp/sm_by_alang112003_dg4l5gs-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTE1IiwicGF0aCI6IlwvZlwvMTgzMjNmMzgtNGVlOC00OGU0LTk4MDctN2ZiMjgzOTQxZWQzXC9kZzRsNWdzLWNkOTIwNzg2LTg4ZGMtNDEwYS1hMDdiLWVlM2RkZGE4MzU4OS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.NWe5D285F-WMpoI3eKctBMH2BeXGaxB--9Yh-l_tc7U" width="400" height="300" alt="Image" class="a" />
    </div>

    <h3>¿Por qué es importante?</h3>
    <p>
      La salud mental es una parte fundamental de nuestro bienestar general. Se
      refiere a nuestro estado emocional, psicológico y social, y afecta cómo
      pensamos, sentimos y actuamos. Una buena salud mental nos permite manejar
      el estrés, relacionarnos con los demás y tomar decisiones saludables.
    </p>

    <p>
      Sin embargo, muchas veces no le damos la importancia que merece. La salud
      mental puede verse afectada por una variedad de factores, como el estrés,
      la ansiedad, la depresión y otros trastornos mentales. Es importante
      prestar atención a nuestra salud mental y buscar ayuda si es necesario.
    </p>
    <p>
      Hay muchas cosas que podemos hacer para mejorar nuestra salud mental.
      Algunas sugerencias incluyen hacer ejercicio regularmente, dormir lo
      suficiente, comer una dieta equilibrada, practicar técnicas de relajación
      y buscar apoyo social. También es importante buscar ayuda profesional si
      estamos experimentando síntomas de un trastorno mental.
    </p>
    <p>
      La salud mental es importante porque puede ayudarle a:
      <li>Enfrentar el estrés de la vida.</li>
      <li>Estar físicamente saludable.</li>
      <li>Tener relaciones sanas.</li>
      <li>Contribuir en forma significativa a su comunidad.</li>
      <li>Trabajar productivamente.</li>
      <li>Alcanzar su completo potencial.</li>
    </p>

    <h3>¿Qué puede afectar mi salud mental?</h3>
    <p>
      Hay muchos factores diferentes que pueden afectar su salud mental,
      incluyendo:
      <li>Factores biológicos, como los genes o la química del cerebro.</li>
      <li>Experiencias de vida, como trauma o abuso.</li>
      <li>Antecedentes familiares de problemas de salud mental.</li>
      <li>
        Su estilo de vida, como la dieta, actividad física y consumo de
        sustancias.
      </li>
    </p>

    <h3>¿Puede cambiar con el tiempo mi salud mental?</h3>
    <p>
      Con el tiempo, su salud mental puede cambiar. Por ejemplo, puede estar
      enfrentando una situación difícil, como tratar de controlar una enfermedad
      crónica, cuidar a un pariente enfermo o tener problemas de dinero. La
      situación puede agotarle y abrumar su capacidad de lidiar con ella. Esto
      puede empeorar su salud mental. Por otro lado, recibir terapia puede
      mejorarla. También puede modificar su salud mental tomando medidas para
      mejorarla, como hacer meditación, usar técnicas de relajación y ser
      agradecido.
    </p>

    <h3>¿Cuáles son las señales de tener un problema de salud mental?</h3>
    <p>
      Cuando se trata de sus emociones, puede ser difícil saber qué es normal y
      qué no. Pero los problemas de salud mental tienen signos de advertencia,
      como:
      <li>Cambios en sus hábitos alimenticios o de sueño.</li>
      <li>Aislarse de las personas y actividades que disfruta.</li>
      <li>Tener nada o poca energía.</li>
      <li>Sentirse vacío o como si nada importara</li>
      <li>Tener dolores y molestias inexplicables.</li>
      <li>Sentirse impotente o sin esperanza.</li>
      <li>Fumar, beber o usar drogas más de lo habitual.</li>
      <li>
        Sentirse inusualmente confundido, olvidadizo, enojado, molesto,
        preocupado o asustado.
      </li>
      <li>
        Tener cambios de humor severos que causen problemas en sus relaciones.
      </li>
      <li>Tener pensamientos y recuerdos que no puede sacar de su cabeza.</li>
      <li>Escuchar voces o creer cosas que no son ciertas.</li>
      <li>Pensar en lastimarse a sí mismo o a otros.</li>
      <li>
        No poder realizar tareas diarias como cuidar a sus hijos o ir al trabajo
        o la escuela.
      </li>
    </p>

    <h3>¿Qué debo hacer si creo que tengo un problema de salud mental?</h3>
    <p>
      Si cree que puede tener un problema de salud mental, busque ayuda. La
      terapia de conversación y / o los medicamentos pueden tratar los
      trastornos mentales. Si no sabe por dónde comenzar, hable con su
      profesional de la salud.
    </p>
    <div>
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/18323f38-4ee8-48e4-9807-7fb283941ed3/dg4l5gg-b8a3b228-141b-4587-a2e6-ef9f966cd5df.jpg/v1/fit/w_828,h_828,q_70,strp/at_by_alang112003_dg4l5gg-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzE4MzIzZjM4LTRlZTgtNDhlNC05ODA3LTdmYjI4Mzk0MWVkM1wvZGc0bDVnZy1iOGEzYjIyOC0xNDFiLTQ1ODctYTJlNi1lZjlmOTY2Y2Q1ZGYuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.qYZHojqK48W_yYHBxsIFDFpvicFApVGatApW3MiWnWQ" width="400" height="300" alt="Image" class="a"/>
    </div>

    <h3 class="f">Fuentes de consulta</h3>
    <p>
      National Library of Medicine. (n.d.). Salud mental.
      <a href="https://medlineplus.gov/spanish/mentalhealth.html"
        >https://medlineplus.gov/spanish/mentalhealth.html</a
      >
    </p>
  </article>
</body>

{% endblock %}
