{% extends "layout.html" %} 
{% block content %}

<head>
  <title>Artículo 2</title>
  <link rel="stylesheet" href="static/css/articulos.css" />
  <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '3921425a-cd39-41a0-b869-02141c37d3de', f: true }); done = true; } }; })();</script>

  <script
    type="text/javascript"
    src="/static/js/jquery-3.2.1.slim.min.js"
  ></script>
  <script type="text/javascript" src="/static/js/popper.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>

<body>
    <article>
        <h1><strong>Depresión</strong></h1>
        <h3>¿Qué es?</h3>
        <p>La depresión es un trastorno emocional que causa un sentimiento de tristeza constante y una pérdida de
            interés en realizar diferentes actividades. También denominada <strong>trastorno depresivo mayor</strong> o
            <strong>depresión clínica</strong>, afecta los
            sentimientos, los pensamientos y el comportamiento de una persona, y puede causar una variedad de problemas
            físicos y emocionales.
        </p>
        <div>
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/18323f38-4ee8-48e4-9807-7fb283941ed3/dg4l5gj-aa1c1b7e-b2cd-437e-9724-8f7904566e74.jpg/v1/fit/w_828,h_828,q_70,strp/dep_by_alang112003_dg4l5gj-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzE4MzIzZjM4LTRlZTgtNDhlNC05ODA3LTdmYjI4Mzk0MWVkM1wvZGc0bDVnai1hYTFjMWI3ZS1iMmNkLTQzN2UtOTcyNC04Zjc5MDQ1NjZlNzQuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.o9eACleA_fEO_t2s20RMY98n0X7gg56eaLCQ4rMt5dk" width="400" height="300" alt="Image" class="a">
        </div>

        <h3>Síntomas</h3>
        <p>Los síntomas de la depresión pueden incluir sentimientos de tristeza, vacío o desesperanza, arrebatos de
            enojo, irritabilidad o frustración, pérdida de interés o placer por la mayoría de las actividades
            habituales, alteraciones del
            sueño, cansancio y falta de energía, falta de apetito y adelgazamiento o más antojos de comida y aumento de
            peso, ansiedad,
            agitación o inquietud, lentitud para razonar, hablar y hacer movimientos corporales, sentimientos de
            inutilidad o culpa, fijación
            en fracasos del pasado o autorreproches, dificultad para pensar, concentrarse, tomar decisiones y recordar
            cosas, pensamientos
            frecuentes o recurrentes sobre la muerte,pensamientos suicidas, intentos suicidas o suicidio y problemas
            físicos inexplicables.</p>

        <h3>¿Cómo podemos manejar los síntomas?</h3>
        <p>La mayoría de las personas con depresión se sienten mejor con medicamentos, con psicoterapia o con ambos.</p>
        <p>Si tienes efectos secundarios debido a los antidepresivos, tu proveedor puede sugerir formas de controlarlos
            mientras esperas a
            que hagan efecto. Si los efectos secundarios te molestan demasiado, es posible que debas cambiar los
            antidepresivos. Pero nunca debes
            cambiar tu dosis o dejar de tomar un antidepresivo por tu cuenta.</p>
        <p>Por ejemplo, si tienes náuseas, puedes tomar el antidepresivo con los alimentos, comer porciones pequeñas con
            más frecuencia, comer caramelos duros sin azúcar, beber mucho líquido como agua fría y hablar con tu médico
            para saber si se puede cambiar la dosis o recurrir a una forma de liberación lenta del medicamento.</p>
        <div>
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/18323f38-4ee8-48e4-9807-7fb283941ed3/dg4l5uc-939da5a3-35f5-4f49-af29-9e07ec0a0cde.jpg/v1/fit/w_828,h_828,q_70,strp/med_by_alang112003_dg4l5uc-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzE4MzIzZjM4LTRlZTgtNDhlNC05ODA3LTdmYjI4Mzk0MWVkM1wvZGc0bDV1Yy05MzlkYTVhMy0zNWY1LTRmNDktYWYyOS05ZTA3ZWMwYTBjZGUuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.hR2dcJ-_uwkQfHj3072yg4xrcTUS_QN8jKvU3S77lAQ" width="400" height="300" alt="Image" class="a">
        </div>
        <p>Si te preocupa el aumento de peso, puedes reducir el consumo de dulces y bebidas azucaradas, seleccionar
            alimentos nutritivos bajos en calorías como frutas y verduras y evitar las grasas trans y saturadas.
            Mantener un diario de alimentos, buscar el consejo de un dietista registrado y hacer actividad física
            regular o ejercicio la mayoría de los días de la semana también pueden ayudar.</p>
        </article>


</body>

{% endblock %}