{% extends "layout.html" %} 
{% block content %}

<head>
  <title>Artículo 3</title>
  <link rel="stylesheet" href="static/css/articulos.css" />
  <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '3921425a-cd39-41a0-b869-02141c37d3de', f: true }); done = true; } }; })();</script>

  <script
    type="text/javascript"
    src="/static/js/jquery-3.2.1.slim.min.js"
  ></script>
  <script type="text/javascript" src="/static/js/popper.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>

<body>
    <article>
        <h1><strong>Ansiedad</strong></h1>
        <h3>¿Qué es?</h3>
        <p>La ansiedad es un sentimiento de miedo, temor e inquietud que surge cuando percibimos una amenaza o un
            peligro, ya sea real o imaginario. La ansiedad nos ayuda a prepararnos para afrontar situaciones difíciles o
            estresantes, como un examen, una entrevista de trabajo o una decisión importante. Sin embargo, cuando la
            ansiedad es excesiva, persistente e irracional, puede interferir con nuestro funcionamiento diario y afectar
            nuestra salud física y mental.</p>
        <div>
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/18323f38-4ee8-48e4-9807-7fb283941ed3/dg4l5g6-aa52e63c-12e1-42c9-b172-3499263cbcc1.jpg/v1/fit/w_828,h_828,q_70,strp/ans_by_alang112003_dg4l5g6-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzE4MzIzZjM4LTRlZTgtNDhlNC05ODA3LTdmYjI4Mzk0MWVkM1wvZGc0bDVnNi1hYTUyZTYzYy0xMmUxLTQyYzktYjE3Mi0zNDk5MjYzY2JjYzEuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.YBDTGElcrHSw8dM1FA9Nh-Kx8ju-NuzgNMVlRZgioss" width="400" height="300" alt="Image" class="a">
        </div>

        <h3>Tipos</h3>
        <p>Existen diferentes tipos de trastornos de ansiedad, como el trastorno de ansiedad generalizada, el trastorno
            de pánico, las fobias, el trastorno obsesivo-compulsivo y el trastorno por estrés postraumático. Cada uno
            tiene sus propias características y síntomas, pero todos comparten una sensación de angustia y preocupación
            desproporcionada ante situaciones que no representan un riesgo real.</p>

        <h3>Síntomas</h3>
        <p>Los síntomas de la ansiedad pueden variar según la persona y el tipo de trastorno, pero algunos de los más
            comunes son:</p>
        <li>Taquicardia.</li>
        <li>Dificultad para respirar.</li>
        <li>Sudoración.</li>
        <li>Temblores.</li>
        <li>Mareos.</li>
        <li>Náuseas.</li>
        <li>Tensión muscular.</li>
        <li>Insomio.</li>
        <li>Irritabilidad.</li>
        <li>Dificultad para concentrarse.</li>

        <h3>Causas</h3>
        <p>Las causas de la ansiedad no se conocen con exactitud, pero se cree que intervienen factores genéticos,
            biológicos, psicológicos y ambientales. Algunos factores de riesgo para desarrollar un trastorno de ansiedad
            son: tener una personalidad tímida o perfeccionista, haber sufrido algún trauma o abuso en la infancia o la
            edad adulta, tener antecedentes familiares de ansiedad u otros problemas mentales, padecer alguna enfermedad
            crónica o tener problemas económicos o laborales.</p>

        <h3>¿Cómo tratar la ansiedad?</h3>
        <p>El tratamiento de la ansiedad suele incluir una combinación de psicoterapia y medicación. La psicoterapia
            puede ayudar a identificar y modificar los pensamientos y creencias negativos que generan ansiedad, así como
            a desarrollar estrategias de afrontamiento y relajación. La medicación puede aliviar los síntomas físicos y
            emocionales de la ansiedad, pero debe ser prescrita y supervisada por un médico.</p>
        <div>
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/18323f38-4ee8-48e4-9807-7fb283941ed3/dg4l5h9-da979f30-e4d3-4763-91f1-f78581de6f3d.jpg/v1/fit/w_828,h_592,q_70,strp/ter_by_alang112003_dg4l5h9-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTE1IiwicGF0aCI6IlwvZlwvMTgzMjNmMzgtNGVlOC00OGU0LTk4MDctN2ZiMjgzOTQxZWQzXC9kZzRsNWg5LWRhOTc5ZjMwLWU0ZDMtNDc2My05MWYxLWY3ODU4MWRlNmYzZC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.21ysLFbp7ye9O0x75qyHJbLlTcgi8v2FVF7SY5_VdpE" width="400" height="300" alt="Image" class="a">
        </div>
        <article>
            <p>
                Finalmente, la ansiedad es un fenómeno normal y adaptativo que todos experimentamos en algún momento de
                nuestra vida. Sin embargo, cuando se vuelve crónica e incapacitante, se convierte en un problema que
                requiere atención profesional. Si crees que puedes tener un trastorno de ansiedad o conoces a alguien
                que lo padezca, no dudes en buscar ayuda. La ansiedad se puede superar con el tratamiento adecuado y el
                apoyo necesario.</p>
        </article>

        <h3 class="f">Fuentes de consulta</h3>
        <p>National Library of Medicine. (n.d.-a). Ansiedad. <a
                href="https://medlineplus.gov/spanish/anxiety.html">https://medlineplus.gov/spanish/anxiety.html</a></p>
        <p>Qué es la ansiedad: cómo reconocerla y qué hacer. (2023, April 14). <a
                href="https://psicologiaymente.com/clinica/que-es-ansiedad">https://psicologiaymente.com/clinica/que-es-ansiedad</a>
        </p>
    </article>

</body>

{% endblock %}