{% extends "layout.html" %} 
{% block content %}

<head>
  <title>Artículo 4</title>
  <link rel="stylesheet" href="static/css/articulos.css" />
  <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '3921425a-cd39-41a0-b869-02141c37d3de', f: true }); done = true; } }; })();</script>

  <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '3921425a-cd39-41a0-b869-02141c37d3de', f: true }); done = true; } }; })();</script>

  <script
    type="text/javascript"
    src="/static/js/jquery-3.2.1.slim.min.js"
  ></script>
  <script type="text/javascript" src="/static/js/popper.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>

<body>
    <article>
        <h1><strong>Estres</strong></h1>
        <h3>¿Qué es?</h3>
        <p>El estrés es la forma en que tu cerebro y tu cuerpo responden a un desafío o una demanda. Cuando estás
            estresado,
            tu cuerpo libera sustancias químicas llamadas hormonas. Las hormonas te ponen en alerta y listo para
            actuar.
            Pueden elevar la presión arterial, la frecuencia cardíaca y los niveles de azúcar en sangre.</p>
        <p>No todo el estrés es malo. De hecho, puede ayudarte a sobrevivir en una situación peligrosa o a cumplir
            con
            una
            meta. Pero cuando el estrés dura mucho tiempo, puede dañar tu salud. El estrés a largo plazo puede
            causar
            problemas como depresión, ansiedad, enfermedades del corazón, presión arterial alta y diabetes.</p>
        <div>
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/18323f38-4ee8-48e4-9807-7fb283941ed3/dg4l61k-613f8bdd-b401-44b8-8d1a-79c09592a44f.jpg/v1/fit/w_828,h_828,q_70,strp/est_by_alang112003_dg4l61k-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzE4MzIzZjM4LTRlZTgtNDhlNC05ODA3LTdmYjI4Mzk0MWVkM1wvZGc0bDYxay02MTNmOGJkZC1iNDAxLTQ0YjgtOGQxYS03OWMwOTU5MmE0NGYuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.HoN3JEivVzkhEi9OmDnoBnnBBu0hKm938ibWbE9ssuw" width="400" height="300" alt="Image"class="a">
        </div>

        <h3>Síntomas</h3>
        <p>Algunos síntomas del estrés son:</p>
        <li>Dolores de cabeza.</li>
        <li>Problemas de estómago.</li>
        <li>Dificultad para dormir.</li>
        <li>Irritabilidad.</li>
        <li>Cambios de humor.</li>

        <h3>¿Cómo manejarlo?</h3>
        <p>Hay varias cosas que podemos hacer para reducir el estrés en nuestras vidas. Una de ellas es identificar
            las
            fuentes de estrés y tratar de eliminarlas o reducirlas. También podemos practicar técnicas de relajación
            como la
            meditación o el yoga para ayudarnos a calmarnos.</p>
        <div>
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/18323f38-4ee8-48e4-9807-7fb283941ed3/dg4l64c-bab8d951-81f1-441e-aa6f-81eb2a6324ed.jpg/v1/fit/w_828,h_828,q_70,strp/relax_by_alang112003_dg4l64c-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzE4MzIzZjM4LTRlZTgtNDhlNC05ODA3LTdmYjI4Mzk0MWVkM1wvZGc0bDY0Yy1iYWI4ZDk1MS04MWYxLTQ0MWUtYWE2Zi04MWViMmE2MzI0ZWQuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.3etAklnlPh7Vyrjb6c4rJLrXoJcevBgNbNUXAHsXd5E" width="400" height="300" alt="Image" class="a">
        </div>
        <p>Otra forma de manejar el estrés es hacer ejercicio regularmente. El ejercicio libera endorfinas, que son
            hormonas
            que nos hacen sentir bien y reducen el estrés. Además, dormir lo suficiente y comer una dieta
            equilibrada
            también pueden ayudarnos a manejar el estrés.</p>
        <div>
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/18323f38-4ee8-48e4-9807-7fb283941ed3/dg4l673-c839b3eb-82a2-4668-8aa0-364db69b8544.jpg/v1/fit/w_828,h_828,q_70,strp/ej_by_alang112003_dg4l673-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzE4MzIzZjM4LTRlZTgtNDhlNC05ODA3LTdmYjI4Mzk0MWVkM1wvZGc0bDY3My1jODM5YjNlYi04MmEyLTQ2NjgtOGFhMC0zNjRkYjY5Yjg1NDQuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.UdjQ0PAPWyQ5QSaYMzKPLORvROnf4pBqfLAtF1QgH_w" width="400" height="300" alt="Image" class="a">
        </div>
        <p>Finalmente, es importante buscar apoyo social y hablar con alguien sobre nuestros problemas. A veces,
            solo el
            hecho de compartir nuestros sentimientos con alguien más puede ayudarnos a sentirnos mejor.</p>
        <div>
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/18323f38-4ee8-48e4-9807-7fb283941ed3/dg4l5gb-14ba553a-075a-431a-9744-8aa9d5b62765.jpg/v1/fit/w_828,h_552,q_70,strp/ap_by_alang112003_dg4l5gb-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvMTgzMjNmMzgtNGVlOC00OGU0LTk4MDctN2ZiMjgzOTQxZWQzXC9kZzRsNWdiLTE0YmE1NTNhLTA3NWEtNDMxYS05NzQ0LThhYTlkNWI2Mjc2NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.qkmYFAvkEZytY1JndLXluTibmGkYS56rH4I9hAh7MPU" width="400" height="300" alt="Image" class="a">
        </div>
        <p>En resumen, hay muchas cosas que podemos hacer para manejar el estrés en nuestras vidas. Lo importante es
            encontrar lo que funciona para nosotros y practicarlo regularmente.</p>
    </article>



</body>

{% endblock %}