{% extends "layout.html" %} 
{% block content %}

<head>
  <title>Artículo 5</title>
  <link rel="stylesheet" href="static/css/articulos.css" />
  <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '3921425a-cd39-41a0-b869-02141c37d3de', f: true }); done = true; } }; })();</script>

  <script
    type="text/javascript"
    src="/static/js/jquery-3.2.1.slim.min.js"
  ></script>
  <script type="text/javascript" src="/static/js/popper.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>

<body>
    <article>
        <h1><strong>Suicidio</strong></h1>
        <h3>¿Qué es?</h3>
        <p>El suicidio es un tema delicado y complejo. Es una reacción trágica a situaciones de vida estresantes y puede
            prevenirse. Si estás pensando en suicidarte o conoces a alguien que esté teniendo sentimientos suicidas, es
            importante aprender a identificar los signos de advertencia del suicidio y buscar ayuda y tratamiento
            profesional de inmediato.</p>
        <div>
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/18323f38-4ee8-48e4-9807-7fb283941ed3/dg4l5gq-c3c1171e-a9a8-4f9e-b041-065350da5ae4.jpg/v1/fit/w_828,h_828,q_70,strp/s_by_alang112003_dg4l5gq-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzE4MzIzZjM4LTRlZTgtNDhlNC05ODA3LTdmYjI4Mzk0MWVkM1wvZGc0bDVncS1jM2MxMTcxZS1hOWE4LTRmOWUtYjA0MS0wNjUzNTBkYTVhZTQuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.pEawELr-CyftujJK47Q_C-DL-KapszRlNK7LH0tjDK0" width="400" height="300" alt="Image" class="a">
        </div>

        <h3>Signos</h3>
        <p>
            Algunos signos que pueden indicar pensamientos suicidas incluyen:
            <li>Hablar cerca del suicidio.</li>
            <li>Obtener los medios para quitarse la vida.</li>
            <li>Aislarse de la sociedad.</li>
            <li>Tener cambios de humor.</li>
            <li>Preocuparse por la muerte o morir.</li>
            <li>Sentirse atrapado o sin esperanzas.</li>
            <li>Aumentar el consumo de drogas o bebidas alcohólicas.</li>
            <li>Cambiar la rutina normal.</li>
            <li>Hacer actividades arriesgadas o autodestructivas y regalar las pertenencias o poner los asuntos
                personales en orden.</li>
        </p>

        <h3>¿Cómo puedo ayudar a alguien que está pensando en suicidarse?</h3>
        <p>Si tienes motivos suficientes para sospechar que alguno de tus conocidos está contemplando la idea de
            suicidarse, deberás conseguir ayuda de inmediato. Tu rápida reacción puede salvar una vida. Si crees que
            algún ser querido está considerando suicidarse es importante que te comuniques inmediatamente con el
            organismo encargado de prevenir el suicidio en tu país.</p>
        <p>En México puedes llamar al número 800 911 2000 para recibir ayuda.</p>
        <div>
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/18323f38-4ee8-48e4-9807-7fb283941ed3/dg4l5gz-235b4a21-a441-42f2-9e94-512584b1bcf7.jpg/v1/fit/w_828,h_828,q_70,strp/t_by_alang112003_dg4l5gz-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzE4MzIzZjM4LTRlZTgtNDhlNC05ODA3LTdmYjI4Mzk0MWVkM1wvZGc0bDVnei0yMzViNGEyMS1hNDQxLTQyZjItOWU5NC01MTI1ODRiMWJjZjcuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.U0nGRCKLK3FQPlXFnu-ahDlyK8O1iy0svFzj5OsDVHY" width="400" height="300" alt="Image" class="a">
        </div>
        <p>El primer paso es averiguar si la persona corre riesgo de seguir sus sentimientos suicidas. Actúa con
            delicadeza, pero formula preguntas directas, como: ¿Cómo estás afrontando lo que ha estado ocurriendo en tu
            vida? ¿A veces sientes ganas de darte por vencido? ¿Piensas en la muerte? ¿Piensas en hacerte daño? ¿Piensas
            en el suicidio? ¿Alguna vez has pensado en el suicidio o has intentado hacerte daño? ¿Pensaste cómo o cuándo
            lo harías? ¿Tienes acceso a armas u objetos que se puedan utilizar como armas para hacerte daño?</p>
        <p>Preguntarle a una persona acerca de pensamientos o sentimientos suicidas no la motivará a tener conductas
            autodestructivas. De hecho, ofrecer la oportunidad de hablar acerca de los sentimientos puede reducir el
            riesgo de que siga sus sentimientos suicidas.</p>
        <p>
            Es importante mostrarle a la persona en cuestión que es parte importante de tu vida y brindarle tu apoyo
            emocional. Los mejores factores de protección para combatir la sensación de aislamiento (un factor de riesgo
            fuerte) son el apoyo emocional proveniente de los amigos, familiares y de la comunidad y su conexión con
            todos ellos.</p>
        <div>
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/18323f38-4ee8-48e4-9807-7fb283941ed3/dg4l5ak-e33f06f2-d0bf-427f-b039-4988fef3dd81.jpg/v1/fit/w_828,h_552,q_70,strp/a_by_alang112003_dg4l5ak-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvMTgzMjNmMzgtNGVlOC00OGU0LTk4MDctN2ZiMjgzOTQxZWQzXC9kZzRsNWFrLWUzM2YwNmYyLWQwYmYtNDI3Zi1iMDM5LTQ5ODhmZWYzZGQ4MS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.3NlhudaW55P78qiGU4DHWZ5hxJB6upxJPdBabjIOP5A" width="400" height="300" alt="Image" class="a">
        </div>

        <h3>Factores de riesgo</h3>
        <p>Los factores de riesgo del suicidio son aquellos que aumentan la probabilidad de que una persona intente
            quitarse la vida. Algunos de los factores de riesgo más comunes incluyen tener un historial de intentos de
            suicidio, trastornos mentales como el trastorno bipolar, la depresión y los trastornos psicóticos,
            enfermedades dolorosas, soledad, acoso psicológico, dificultades financieras y problemas en las relaciones
            interpersonales.</p>
        <p>Es importante tener en cuenta que estos factores no son determinantes y que no todas las personas que
            presentan estos factores intentarán quitarse la vida. Sin embargo, conocer estos factores puede ayudar a
            identificar a las personas en riesgo y brindarles el apoyo y la ayuda necesarios.</p>

        <h3 class="f">Fuentes de consulta</h3>
        <p>Suicidio: Qué hacer si alguien tiene tendencias suicidas. (2022, 21 julio). Mayo Clinic.
            <a
                href="https://www.mayoclinic.org/es/diseases-conditions/suicide/in-depth/suicide/art-20044707">https://www.mayoclinic.org/es/diseases-conditions/suicide/in-depth/suicide/art-20044707</a>
        </p>
        <p>Herrera, B. P. (2022, 1 agosto). ¿Cómo ayudar a alguien que piensa en el suicidio? La Mente es Maravillosa.
            <a
                href="https://lamenteesmaravillosa.com/como-ayudar-a-alguien-que-piensa-en-el-suicidio/">https://lamenteesmaravillosa.com/como-ayudar-a-alguien-que-piensa-en-el-suicidio/</a>
        </p>

        <p>¿Cómo puedo ayudar a alguien que tiene pensamientos suicidas? | GotQuestions.org/Espanol. (s.f.).
            GotQuestions.org Español. <a
                href="https://www.gotquestions.org/Espanol/ayuda-suicidio.html">https://www.gotquestions.org/Espanol/ayuda-suicidio.html</a>
        </p>

        <p>Suicidio y pensamientos suicidas - Síntomas y causas - Mayo Clinic. (2022, 19 julio).
            <a href="https://www.mayoclinic.org/es/diseases-conditions/suicide/symptoms-causes/syc-20378048">https://www.mayoclinic.org/es/diseases-conditions/suicide/symptoms-causes/syc-20378048</a></p>

        <p>Francisco, J. (2018, 14 marzo). Suicidio: factores de riesgo y factores de protección. La Mente es
            Maravillosa. <a href="https://lamenteesmaravillosa.com/factores-riesgo-proteccion-del-suicidio/">https://lamenteesmaravillosa.com/factores-riesgo-proteccion-del-suicidio/</a></p>


    </article>
</body>

{% endblock %}