{% extends "layout.html" %} {% block content %}

<head>
  <title>Artículo 1</title>
  <link rel="stylesheet" href="static/css/us.css" />
  <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '3921425a-cd39-41a0-b869-02141c37d3de', f: true }); done = true; } }; })();</script>

  <script
    type="text/javascript"
    src="/static/js/jquery-3.2.1.slim.min.js"
  ></script>
  <script type="text/javascript" src="/static/js/popper.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>

<body>
  <article>
    <h1><strong>¿Quienes Somos?</strong></h1>
    <p>
      Somos un pequeño equipo de emprendimiento con la intención de mejorar la
      calidad de canalización orientado a la salud mental en Aguascalientes
      aprovechando el uso de tecnologías de la comunicación para recopilar
      información y un servicio para comunicarse y dar a conocer múltiples
      lugares. Principalmente enfocándonos en Resiliente, puesto trabajamos
      directamente con ésta institución para comenzar a impulsarnos como
      proyecto.
    </p>

    <h2>Problema detectado</h2>
    <p>
      Aguascalientes tiene un índice muy alto con problemas de la salud mental e
      incluso ocupa el puesto número uno en la tasa de suicidios a nivel
      nacional. Recientemente se hicieron conocer que las autoridades en algunas
      universidades han sido negligentes en estos casos, donde sus allegados han
      requerido ayuda y no se tuvieron las herramientas o la disposición de
      ayudarlos con la inmediatez, emergencia y eficacia que requería en el
      momento.
    </p>

    <h2>Objetivos</h2>
    <p>
      Realizar una página web para prevenir a las personas y familiares de
      dichos resultados, canalizarlos a una ayuda profesional y así mejorar la
      calidad de vida de forma progresiva; comenzar con un tratamiento para los
      usuarios dependiendo de sus condiciones y necesidades.
    </p>

    <h2>Resultados esperados</h2>
    <p>
      Con la implementación de Owl en el mercado se espera que las tazas se
      suicidio vayan bajando y las clínicas de salud quizá se exploten al
      principio, debido a que el incremento del trabajo se les hará llegar con
      el uso de nuestra herramienta, al igual que se espera una mejoría gradual
      en la población de Aguascalientes, quizá con algo de enfoque en los más
      jóvenes.
    </p>

  </article>
</body>

{% endblock %}