{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psicólogos</title>
    <link rel="stylesheet" href="static/css/psico.css" />
    <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>    
</head>

<body>
    <center><h2>Clínicas</h2></center>
    <div class="center">        
        <div class="card">
            <div class="face front">
                <img src="/static/img/resiliente_logo_1.png" alt="/static/img/Anny_pet_0.2.png">
                <h3>Resiliente</h3>
            </div>
            <div class="face back">
                <h3>Resiliente</h3>
                <p>Psicóloga
                    Salud mental y bienestar emocional.
                    Atención a niños,adolescentes, adultos y parejas.</p>
                <div class="link">
                    <a href="https://www.facebook.com/PSIC.YOLANDAESPARZA/">Details</a>
                </div>
            </div>
        </div>
    
        <div class="card">
            <div class="face front">
                <img src="/static/img/Anny_pet_0.2.png" alt="">
                <h3>OWL</h3>
            </div>
            <div class="face back">
                <h3>OWL</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius harum molestiae iste, nihil doloribus fugiat distinctio ducimus maxime totam nulla fuga odio non aperiam eos?</p>
                <div class="link">
                    <a href="#">Details</a>
                </div>
            </div>
        </div>
    
        <div class="card">
            <div class="face front">
                <img src="/static/img/Anny_pet_0.2.png" alt="">
                <h3>OWL</h3>
            </div>
            <div class="face back">
                <h3>OWL</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius harum molestiae iste, nihil doloribus fugiat distinctio ducimus maxime totam nulla fuga odio non aperiam eos?</p>
                <div class="link">
                    <a href="#">Details</a>
                </div>
            </div>
        </div>
    </div>
    

</body>
</html>
{% endblock %}