{% extends "layout.html" %}
{% block content %}

<head>
    <title>OWL</title>
    <link rel="stylesheet" href="static/css/tabla3.css">    
</head>

<body style="background-color:#F6F6F6;">
    <center>
        <br>
        <br>
        <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
        <script type="text/javascript" src="/static/js/popper.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

        <center>
            <h3>Citas</h3>
            <div id="alertPlaceholder"></div>
        </center>
        <center>
            <a href='/nueva_cita' class="btn btn-primary">Agregar una cita</a>
        </center>
        <center>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Nombre del paciente</th>      
                        <th>Fecha</th>                                          
                        <th>Hora</th>
                        <th></th>
                        <th></th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for cita in citas %}
                    <tr>
                        <td>
                            {{ cita.5}}
                        </td>
                        <td>
                            {{ cita.2 }}
                        </td>
                        <td>
                            {{ cita.3 }}
                        </td>

                        <td bgcolor="#828282" width="60">
                            <!--/ver_paciente/{{cita.0}}-->
                            <center><a href="/ver_cita/{{cita.0}}" style="color:#FFFFFF; text-decoration:none;">Ver &nbsp;<i class="far fa-edit"></i></a></center>
                        </td>
                        <td bgcolor="#FFF5757" width="60">
                            <!-- /bor_paciente/{{cita.0}} -->
                            <center><a href="#" style="color:#FFFFFF; text-decoration:none;" onclick="confirmarEliminacion('{{ cita.0 }}')">Borrar &nbsp;<i class="fas fa-trash-alt"></i></a></center>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center>
    </center>
    
    <script>

        window.addEventListener('load', function() {
            // Aquí puedes realizar las acciones que deseas cuando se agrega un registro.
            alert('Se ha agregado un nuevo registro.');
        });

        function confirmarEliminacion(pacienteId) {
            if (confirm('¿Estás seguro de que deseas eliminar este dato?')) {
                window.location.href = '/bor_cita/' + pacienteId;
            }
        }
    </script> 
    <script type="text/javascript" src="/static/js/mostrar_alert.js"></script>
</body>

{% endblock %}