{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar pacientes</title>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>    
    <link href="{{ url_for('static',filename='css/agr_pacientes.css') }}" rel="stylesheet" type="text/css">


</head>

<body>  
    {% for paciente in pacientes %}

    <form action="/modificar_paciente/{{paciente.0}}" method="POST" >
        
        <h2>Editar pacientes</h2>
        <a href='/paciente' class="btn btn-primary">Cancelar</a>
        <div class="form-group">
            <div class="center-form">
                <div class="form-container col-4">
                    <label for="nom_cliente"> Nombre(s): </label>           
                    <input type="text" id="nom_cliente" class="form-control" name="nom_cliente" value="{{paciente.3}}"required>
                </div>
                <div class="form-container col-4">
                    <label for="ap_pa"> Apellido paterno: </label>
                    <input type="text" id="ap_pa" class="form-control" name="ap_pa" value="{{paciente.4}}"required>            
                </div>
                <div class="form-container col-4">
                    <label for="ap_ma"> Apellido materno: </label>
                    <input type="text" id="ap_ma" class="form-control" name="ap_ma"value="{{paciente.5}}"required>
                </div>                    
            </div>

            <div class="center-form">
                <div class="form-container">                    
                    <label for="fecha_nacimiento">Fecha Nacimiento: </label>
                    <input type="date" id="fecha_nacimiento" class="form-control" name="fecha_nacimiento" value="{{paciente.6}}" required>
                </div>
                
                <div class="form-container">
                    <label for="genero">Género: </label>
                    <select id="genero" class="form-control" name="genero" required>
                        <option > {{paciente.7}}</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div> 

                <div class="form-container">
                    <label for="civil">Estado civil: </label>
                    <select id="civil" class="form-control" name="civil" required>
                        <option>{{paciente.8}}</option>
                        <option value="soltero">Soltero</option>
                        <option value="casado">Casado</option>
                        <option value="divorciado">Divorciado</option>
                        <option value="viudo">Viudo</option>
                    </select>
                </div>        
            </div>
            
            <div class="radio">
                <div class="form-container">
                    <label for="regis_on" required>¿Está registrado en Owl? </label> 
                    <div class="center-radio">
                        <input type="radio" name="regis_on" id="regis_on_si" value="Si" {% if paciente.1 == 'Si' %}checked{% endif %}>
                        <label for="regis_on_si">Sí</label>
                        <input type="radio" name="regis_on" id="regis_on_no" value="No" {% if paciente.1 == 'No' %}checked{% endif %}>
                        <label for="regis_on_no">No</label>
                    </div>
                </div>
                <div class="form-container">
                    <label for="antecedentes" required>¿Cuénta con antecedentes médicos? </label>
                    <div class="center-radio">
                        <input type="radio", name="antecedentes" id="antecedentes_si" value="Si" {% if paciente.9 == 'Si'%}checked {% endif %}>
                        <label for="antecedentes_si">Sí</label>
                        <input type="radio", name="antecedentes" id="antecedentes_no" value="No" {% if paciente.9 == 'No'%}checked {% endif %}>
                        <label for="antecedentes_no">No</label>
                    </div>    
                </div>
                
                <div class"">
                    <div class="form-container">                     
                        <label for="medicamentos">Medicamentos </label>
                        <input type="text" id="medicamentos" class="form-control" name="medicamentos" value="{{paciente.10}}"required>              
                    </div>
                </div>
            </div>      
            
        </div>

        <div class="center-form">   

            <script type="text/javascript">
                document.getElementById("formu").addEventListener("submit", function(event){
                    event.preventDefault(); 
                    window.location.href ='/paciente';   
                });                                              
            </script>            
        </div>
        <a type="button" href="/paciente"><button type="submit">Guardar</button></a>          
    </form>
    {% endfor %}
</body>
</html>
{% endblock %}