{% extends "layout.html" %}
{% block content %}
<head>
    <title>OWL</title>
    <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '3921425a-cd39-41a0-b869-02141c37d3de', f: true }); done = true; } }; })();</script>

</head>

<body style="background-color:#FFFFFF;">
    <center>
        <br>
        <br>
        <img src="/static/img/Anny_pet_0.3.png" class="mr-3" width="20%" height="20%">
        <h1>{{ des_error }}</h1><a href={{ paginaant }} class="btn btn-primary" style="background:#0077FF;">Reintentar</a></center>

    <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    </center>
</body>
{% endblock %}