{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar Cita</title>
    <link rel="stylesheet" href="static/css/cita.css" />
    <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>    
</head>

<body>  
    
    <form>
        
        <h2>Agendar Cita</h2>
        <!--<a href='/paciente' class="btn btn-primary">Cancelar</a>-->
        <div class="form-group">
            <div class="center-form">
                <div class="form-container col-9">
                    <label for="nom_paciente"> Nombre Completo: </label>           
                    <input type="text" id="nom_paciente" class="form-control" name="nom_paciente" required>
                </div> 
                <div class="form-container col-9">
                    <label for="id_profesional"> Profesional: </label>           
                    <input type="text" id="id_profesional" class="form-control" name="id_profesional" required>
                </div>                 
            </div>

            <div class="form-group">
                <div class="center-form">
                    <div class="form-container col-9">
                        <label for="fecha"> Fecha: </label>
                    <input type="date" id="fecha" class="form-control" name="fecha" required>   
                    </div>   
                    <div class="form-container col-9">
                        <label for="id_horario"> Horario: </label>
                        <input type="time" id="id_horario" class="form-control" name="id_horario" required>
                    </div>     
                </div> 
            </div>


            <div class="center-form">
                <div class="form-container col-8">
                    <label for="nom_clinica"> Clínica: </label>
                    <select id="nom_clinica" class="form-control" name="nom_clinica" required>
                        <option value="Selecciona">Selecciona</option>
                        <option value="Selecciona">Selecciona</option>
                        <option value="Selecciona">Selecciona</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>     
                <div class="form-container col-7">                    
                    <label for="descripcion"> Descripción </label>
                    <input type="text" id="descripcion" class="form-control" name="descripcion" required>              
                 </div>   
            </div>
            
            <div class="form-group">
                
            </div>      
            
        </div>

        <a type="button" href="/paciente"><button type="submit">Agendar Cita</button></a>          
    </form>
    
</body>
</html>
{% endblock %}