{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar clinica</title>
    <link rel="stylesheet" href="static/css/agr_pacientes.css" />
    <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '3921425a-cd39-41a0-b869-02141c37d3de', f: true }); done = true; } }; })();</script>

    <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>    
</head>

<body>           
    <form action="/nueva_clinica" method="POST" >
        <h2>Agregar clínica</h2>
        <a href='/clinica' class="btn btn-primary">Cancelar</a>
        <div class="form-group">
            <div class="center-form">
                <div class="form-container col-6">
                    <label for="nombre"> Nombre de la institución </label>           
                    <input type="text" id="nombre" class="form-control" name="nombre" placeholder="Nombre de la instutución"required>
                </div>
                <div class="form-container col-6">
                    <label for="descripcion"> Descripción </label>
                    <input type="text" id="descripcion" class="form-control" name="descripcion" placeholder="Descripción"required>            
                </div>
            </div>
            <div class="center-form">
                <div class="form-container col-6">
                    <label for="direccion"> Dirección </label>
                    <input type="text" id="direccion" class="form-control" name="direccion"placeholder="Dirección"required>
                </div>     
                
                <div class="form-container col-6">                    
                    <label for="num_telefono">Número de teléfono </label>
                    <input type="text" id="num_telefono" class="form-control" name="num_telefono" placeholder="(499) xxx xxxx" required>
                </div>                 
            </div>            
        </div>
        <div class="center-form">                   
            <script type="text/javascript">
                document.getElementById("formu").addEventListener("submit", function(event){
                    event.preventDefault(); 
                    window.location.href ='/clinica';   
                });                                              
            </script>            
        </div>
        <a type="button" href="/clinica"><button type="submit">Enviar</button></a>    
        <br><br><br><br><br><br><br><br>
    </form>
</body>
</html>
{% endblock %}